.footer {
    background-color: #2e2f42;
    padding: 100px 141px;
}
.footer .container {
    display: flex;
}

.logo.light {
    margin-bottom: 16px;
}
.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-socials {
    margin-left: 120px;
}
.footer-blocktitle {
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer .socials-list {
    gap: 16px;
}
.footer .socials-link:hover,
.footer .socials-link:focus,
.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #31d0aa;
}

.footer-form-block {
    margin-left: auto;
}
.footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-field-input {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    background: none;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #fff;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-field-input::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #fff;
}
.footer-field-input:focus {
    outline: none;
    border-color: #31d0aa;
}

/* .btn-subscribe-wrapper {
    position: relative;
} */

.footer-form-btn {
    /* position: relative; */

    display: flex;
    align-items: center;
    gap: 16px;

    color: #fff;

    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;

    font-weight: 500;

    line-height: 1.5;
    letter-spacing: 0.04em;

    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn-icon {
    fill: currentColor;
}
