.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}
.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.logo.light {
    margin-bottom: 16px;
    text-align: center;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 100%;
}

.footer-blocktitle {
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;

    text-align: center;
}

.footer .socials-list {
    gap: 16px;
}
.footer .socials-link:hover,
.footer .socials-link:focus,
.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #31d0aa;
}

.footer-form-block {
    width: 100%;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* width: 100%; */
}
.footer-form-label {
    width: 100%;
}

.footer-field-input {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 16px;
    width: 100%;
    height: 40px;
    background: none;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #fff;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-field-input::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #fff;
}
.footer-field-input:focus {
    outline: none;
    border-color: #31d0aa;
}

.footer-form-btn {
    display: flex;
    align-items: center;
    gap: 16px;

    color: #fff;

    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;

    font-weight: 500;

    line-height: 1.5;
    letter-spacing: 0.04em;

    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn-icon {
    fill: currentColor;
}

@media only screen and (min-width: 768px) {
    .footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0 108px;
        column-gap: 24px;
        row-gap: 72px;
    }
    .footer-logo {
        max-width: 264px;
    }
    .logo.light {
        margin-bottom: 16px;
        text-align: left;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-form-block {
        width: fit-content;
    }

    .footer-blocktitle {
        text-align: left;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer-form-label {
        width: fit-content;
    }

    .footer-field-input {
        width: 264px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
    .footer .container {
        display: flex;
        flex-wrap: nowrap;
        padding: 0 15px;
    }

    .footer-socials {
        margin-left: 120px;
    }

    .footer-form-block {
        margin-left: auto;
    }

    .footer-form {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}
