.team-section {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: white;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-img {
    display: block;
}
.team-card-text {
    padding: 32px 16px;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-role {
    color: #434455;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
